<ion-header>
  <ion-toolbar>
    <ion-title>Orte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Benutzerdaten ändern</ion-card-title>
          </ion-card-header>
          <form>
            <ion-item>
              <ion-label position="floating">Benutzername</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Passwort</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-button>
              speichern
            </ion-button>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
